<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="Python" />
            <add name="Python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Active\Data\Prog\Pyton\python.exe %s %s" resourceType="Unspecified" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="timing.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
